<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.ContextMapper">

	<!-- Retrieve data for Chart.js -->
	<select id="chartjs" parameterType="com.smhrd.model.MemberVO"
		resultType="com.smhrd.model.ContextVO">
		SELECT surIdx
		FROM tb_context
		WHERE memId = #{memId}
	</select>

	<select id="getContextIdx"
		parameterType="com.smhrd.model.MemberVO"
		resultType="com.smhrd.model.ContextVO">
		SELECT contextIdx
		FROM tb_context
		WHERE memId = #{memId}
	</select>

	<insert id="insertContext" parameterType="map">
		INSERT INTO tb_context(memId, surIdx) VALUES(#{memId}, #{surIdx})
	</insert>

	<select id="getContext" parameterType="string"
		resultType="com.smhrd.model.ContextVO">
		SELECT contextIdx, surIdx FROM tb_context WHERE memId = #{memId} ORDER BY
		contextIdx DESC LIMIT 5
	</select>

	<!-- contextidx를 통해 suridx값 가져오기 -->
	<select id="getOtherSurIdx" parameterType="int"
		resultType="com.smhrd.model.ContextVO">
		SELECT surIdx FROM tb_context WHERE contextIdx = #{contextIdx}
	</select>

	<select id="getEmotion" parameterType="com.smhrd.model.MemberVO"
		resultType="com.smhrd.model.ContextVO">
		SELECT surIdx
		FROM tb_context
		WHERE memId = #{memId}
	</select>

	<select id="getIntro" parameterType="com.smhrd.model.ContextVO"
		resultType="com.smhrd.model.ContextVO">
		SELECT contextIdx,surIdx FROM tb_context
	</select>

	<select id="getContextIdsBySurveyId" parameterType="integer"
		resultType="integer">
		SELECT contextIdx FROM tb_context WHERE surIdx = #{surveyId}
	</select>
	<update id="changeSurIdx" parameterType="int">
		UPDATE tb_context
		SET surIdx = #{surIdx}
		WHERE contextIdx = (
		SELECT contextIdx
		FROM (
		SELECT contextIdx
		FROM tb_context
		ORDER BY contextIdx DESC
		LIMIT 1
		) AS subquery
		)
	</update>
	
	<insert id="insertCopyContext" parameterType="com.smhrd.model.ContextVO">
		INSERT INTO tb_context(memId, surIdx) VALUES (#{memId}, #{surIdx})
	</insert>

</mapper>
