<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.ContextMapper">

	<insert id="insertContext" parameterType="map">
        INSERT INTO tb_context(memId, surIdx) VALUES(#{memId}, #{surIdx})
    </insert>
    
    <select id="getContext" parameterType="string" resultType="com.smhrd.model.ContextVO">
    	SELECT contextIdx, surIdx FROM tb_context WHERE memId = #{memId} ORDER BY contextIdx DESC LIMIT 5
    </select>
</mapper>