<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.SurveyMapper">

	<select id="getAnswer" parameterType="com.smhrd.model.SurveyVO"
		resultType="com.smhrd.model.SurveyVO">
		SELECT * FROM tb_survey WHERE surType = 'A' AND surItem =
		"genre";
	</select>

	<select id="getQuestion"
		parameterType="com.smhrd.model.SurveyVO"
		resultType="com.smhrd.model.SurveyVO">
		SELECT * FROM tb_survey WHERE surType = 'Q' AND surItem =
		"genre";
	</select>

	<select id="joiningSurvey" resultType="com.smhrd.model.SurveyVO">
		SELECT * FROM tb_survey
		WHERE surType = 'A' AND surItem = "genre";
	</select>
	
	<select id="aiQuestion" resultType="com.smhrd.model.SurveyVO">
		SELECT * FROM tb_survey WHERE surType = 'Q'
	</select>
	
	<select id="aiAnswer" resultType="com.smhrd.model.SurveyVO">
		SELECT * FROM tb_survey WHERE surType = 'A'
	</select>

	<select id="selectSurvey" resultType="com.smhrd.model.SurveyVO">
		SELECT * FROM tb_survey
		WHERE surType = 'A'
		AND surItem = 'genre'
		AND surDesc IN
		<foreach item="item" index="index" collection="surDescList"
			open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="aiSurveyAnser" parameterType="com.smhrd.model.SurveyVO" resultType="com.smhrd.model.SurveyVO">
		SELECT surDesc FROM tb_survey WHERE surIdx = #{surIdx}
	</select>
	
	<select id="getOtherSurDesc" parameterType="int" resultType="com.smhrd.model.SurveyVO">
		SELECT surDesc FROM tb_survey WHERE surIdx = #{surIdx}
	</select>
	
	<!-- season 추천곡에 쓰일 장르 정보 가져오기 -->
	<select id="getSeasonGenre" resultType="com.smhrd.model.SurveyVO">
		SELECT surDesc FROM tb_survey WHERE surType = 'A' AND surItem = 'genre'
	</select>
	
	<select id="surbayIdx" parameterType="com.smhrd.model.ContextVO" resultType="com.smhrd.model.SurveyVO">
       SELECT * FROM tb_survey WHERE surType = 'A' AND surItem = "genre" AND surIdx=#{surIdx} ;
    </select>
    
    <!-- 자동 추천에 쓰일 선택지 가져오기 -->
	<select id="getRecSurvey" resultType="com.smhrd.model.SurveyVO">
		SELECT surItem, surDesc FROM tb_survey WHERE surType = 'A' AND surItem != 'genre'
	</select>
	
    <!-- 사용자 선호도 가져오기 -->
	<select id="getMemPreGenre" parameterType="com.smhrd.model.PreferenceVO" resultType="com.smhrd.model.SurveyVO">
		SELECT surDesc FROM tb_survey WHERE surIdx = #{surIdx}
	</select>
	
	<!-- 장르명과 일치하는 surIdx 가져오기 -->
	<select id="getSameDesc" parameterType="string" resultType="com.smhrd.model.SurveyVO">
		SELECT surIdx FROM tb_survey WHERE surDesc = #{surDesc}
	</select>
	
	<select id="getEmotion" parameterType="com.smhrd.model.ContextVO" resultType="com.smhrd.model.SurveyVO">
       SELECT * FROM tb_survey WHERE surType = 'A' AND surItem = "emotion" AND surIdx=#{surIdx} ;
    </select>
    
     <select id="getIntro" parameterType="com.smhrd.model.ContextVO" resultType="com.smhrd.model.SurveyVO">
        SELECT *
        FROM tb_survey
        WHERE surIdx = #{surIdx} AND surType = 'A' AND surItem IN ('genre','emotion')
    </select>
    
    <select id="getSurveyIdsByDesc" parameterType="string" resultType="integer">
    SELECT surIdx FROM tb_survey WHERE surDesc = #{desc}
</select>
</mapper>