body {
    font-family: 'Lato', sans-serif;
    background: #1f2122;
}

.chef {
    vertical-align: middle;
    width: 50px;
    margin-top: 60px;
}

.box {
    padding: 10px 80px 10px 80px;
}

.intro p{
    margin-right: 50px;
}

.intro{
	margin:-25px -50px 0px -50px;
}

.box .question {
    display: none;
    margin-left: -50px;
}

.box .question.active {
    display: block;
} 

.box .question>.confirm-container {
    display: none;
    overflow: hidden;
}

.box .question>.confirm-container div {
    font-size: 0.875em;
    text-align: center;
    color: #fff;
    display: block;
}


 .box .question .confirm-container p.confirm-button {
    /* 필요한 경우 추가 스타일을 정의 */
    display: inline-block;
    float: right;
    padding: 5px 20px;
    background: #ec6090;
    color: #fff;
    margin-left: 10px;
    transition: 250ms ease-in-out;
} 


.box .question>.confirm-container p:hover {
    cursor: pointer;
    background: #ec6090;
}

.box .question>.confirm-container p:after {
    content: none;
}

.box .question>.confirm-container p.selected {
    background: #ec6090;
}

.box p {
    display: none;
    position: relative;
    background: #fff;
    border-radius: 23px;
    transition: 250ms ease-in-out;
}

.box p:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -8px;
    left: 20px;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    transform: rotate(10deg);
}

.box p span {
    display: none;
}

.box p.loading {
    background: #e1e1e1;
    width: 50px;
    height: 30px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 15px;
}

.box p.loading:after {
    display: none;
}

.box p.loading:before {
    content: '';
    left: 6px;
    background-color: #aaa;
    opacity: .3;
    width: 10px;
    height: 10px;
    top: 11px;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: dots .9s ease-in-out infinite;
    animation: dots .9s ease-in-out infinite;
}

.box p.loading i {
    background-color: #aaa;
    opacity: .3;
    width: 10px;
    height: 10px;
    top: 11px;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: dots .9s ease-in-out infinite;
    animation: dots .9s ease-in-out infinite;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    left: 20px;
}

.box p.loading i:after {
    content: '';
    background-color: #aaa;
    opacity: .3;
    width: 10px;
    height: 10px;
    top: 0;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: dots .9s ease-in-out infinite;
    animation: dots .9s ease-in-out infinite;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    left: 13px;
}

p.first.is-complete {
    margin-bottom: 0px;
}

.box p.is-complete {
    height: auto;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 23px;
    box-sizing: border-box;
    color: black;
}

 .box p.is-complete:before {
    content: none;
} 

.box p.is-complete i {
    display: none;
}

.result {
    margin-left: -50px;
}

#btnAiComplete {
	cursor: pointer;
	transition: all 200ms linear;
	color: white;
	background-color: #ec6090;
	border-color: transparent;
	border-radius: 23px;
    padding: 10px 20px;
}

#btnAiComplete:hover {
	background-color: #b1486c;
	border-color: transparent;
}

@-webkit-keyframes dots {
    0% {
        opacity: 1;
    }
}

@keyframes dots {
    0% {
        opacity: 1;
    }
}