#btnUpdate, #btnMypage, #btnLogout {
	color: white !important;
	background-color: #27292a;
	border: none !important;
}


.dropdown-item a{
	background-color: red; 
}

/* 네비바 로그인버튼*/
#navLogin {
	display: block;
	font-weight: 400;
	font-size: 14px;
	text-transform: capitalize;
	color: #666;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	border: transparent;
	padding: 8px 20px;
	border-radius: 18px;
	letter-spacing: .3px;
	background-color: #27292a;
	border-radius: 23px;
}

#aMypage, #aAi {
	cursor: pointer;
	color: #666;
	display: block;
	font-weight: 400;
	font-size: 14px;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	border: transparent;
	padding: 13px 10px;
	border-radius: 18px;
	letter-spacing: .3px;
}

.nav a.active{
    color: #e75e8d !important;
    font-weight: 600;
	
}


#aMypage:hover, #aAi:hover, #navLogin:hover {
    color: #e75e8d !important;
    font-weight: 600;
  }

/* 로그인 모달 */
.modal-backdrop.show {
	opacity: .70 !important;
}

#modal-dialog {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: calc(100% - ( .5rem * 2));
	margin-top: 10%;
}

div#\=\"modal-dialog\" {
	margin-top: 10%;
}

#modal-content {
	background-color: #27292a;
	color: white;
	text-align: center;
	width: 440px;
	height: 450px;
}

#modal-header {
	border: none;
	display: flex;
	justify-content: center;
	position: relative;
	height: 120px;
	margin-top: 15px;
}

#modal-header #btn-close {
	position: absolute;
	right: 30px;
	top: 10px;
	background: none;
	border: none;
	color: white;
}

#modal-body {
	padding-right: 30px;
	padding-left: 30px;
}

#txtJoin {
	display: flex;
	justify-content: right;
	margin-top: 10px;
	font-size: 13px;
}

#loginModal>div>div>div.modal-body>form>div:nth-child(4)>button {
	height: 48px;
}

/* 로그인 모달 끝 */