#introWrap{
	height: 800px;
}

.btnPink {
	cursor: pointer;
	transition: all 200ms linear;
	color: white;
	background-color: #ec6090;
	border-color: transparent;
}

.btnPink:hover {
	background-color: #b1486c;
	border-color: transparent;
}

h4 span {
	color: white;
}

.owl-carousel {
	width: 100%;
	height: 550px;
	margin: 0 auto;
}

#goAi {
	cursor: pointer;
}

#txtGoAI:hover {
	color: #ec6090;
}

/* .col-lg-4 {
    text-align: center;
} */
#plSeason>.content {
	height: 585px;
	padding-top: 23px;
}

/* ***** playlist ***** */
#playlistWrap {
	height: 490px;
	padding-top: 16px;
}

.txtPink {
	color: #ec6090;
}

#txtSeason {
	text-align: left;
}

.playlistDetail .col-lg-12 .item {
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

#plSeason .item img {
	float: left;
	margin-right: 15px;
}

.txtSong {
	float: left;
}

img.templatemo-item.imgCover {
	max-width: 60px;
	border-radius: 15px;
}

span.songTitle {
	display: inline-block;
	font-weight: 700;
	color: white !important;
	font-size: 14px;
	padding-top: 7px;
	margin-bottom: 1px;
	text-align: left !important;
}

.playlistDetail .item span {
	color: #666;
	font-size: 14px;
	display: block;
}

.playlistDetail ul {
	position: absolute;
	right: 0;
	top: 15px;
}

.playlistDetail ul li {
	color: #fff;
	font-size: 14px;
	margin-bottom: 3px;
}

.songDetail h4, .songDetail span {
	text-align: left;
}

.game-details .content .right-info {
	margin-top: 20px;
}

#plSeason>div>div>div>div>div>div:nth-child(6)>div {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/* ***** playlistDetailPage 끝 ***** */
@media ( max-width : 992px) {
	.featured-games {
		margin-bottom: 0px;
	}
}

@media ( max-width : 992px) {
	#introImages {
		margin-top: 20px;
		margin-bottom: 30px !important;
	}
}

@media ( max-width : 992px) {
	#goAi {
		margin-bottom: 30px !important;
	}
}

@media ( max-width : 992px) {
	#plSeason {
		margin-bottom: 20px;
	}
}