

hr {
	background: pink;
	height: 1px;
	border: 0;
}

.btn-edit{
	background-color: #666666;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 12px;
    /* border-color:#ec6090; */
}

.btn-edit:hover{
	border-color: #fff;
    background-color: #fff;
    color: #e75e8d;
}

.btn-delete{
	background-color: rgba(236, 96, 144, 0.9);
    padding: 5px 10px;
    border-radius:12px;
    color: #fff;
    font-size: 14px;
}

.btn-delete:hover{
	border-color: #fff;
    background-color: #fff;
    color: #e75e8d;
}

/* 차트 영역 */

#chartArea {
	position: relative;
}

#chartArea .col-lg-12 {
	position: relative;
}

#prevChart, #nextChart {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10; /* 차트보다 버튼이 앞에 오도록 설정 */
	color: #e75e8d;
}

#prevChart {
	left: 20px; /* 왼쪽 버튼 위치 조정 */
}

#nextChart {
	right: 20px; /* 오른쪽 버튼 위치 조정 */
}

.btn-arrow {
	background-color: transparent;
	border: none;
	font-size: 2rem; /* 아이콘 크기 조정 */
	cursor: pointer;
}


li#labelsContainerData1 {
    font-size: 15px;
}


li#labelsContainer1, li#labelsContainer2, li#labelsContainer3{
border-bottom: 1px solid #ec608082;
}

ul#firstLabelsContainer, ul#secondLabelsContainer, ul#thirdLabelsContainer {
    background-color: transparent;
    border: solid 1.5px #ec6090;
    margin-top: -40px;
    margin-left: 40px;
}





/* 
  ---------------------------------------------
  Featured Banner Style
  --------------------------------------------- 
  */
.feature-banner .thumb {
	position: relative;
	max-height: 305px;
	overflow: hidden;
	border-radius: 23px;
}

.feature-banner .thumb a {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-23px, -23px);
	width: 46px;
	height: 46px;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 46px;
	color: #ec6090;
}

li .thumb {
	position: relative;
}

li .thumb a {
	position: absolute;
	left: 50%;
	top: 50%;
	/* 아이콘 크기나 실제 요소의 크기에 따라 translate 값을 조정해야 할 수 있습니다. */
	transform: translate(-200%, -100%);
	width: 46px;
	height: 46px;
	background-color: #e75e8d;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 46px;
	color: #fff;
}

fa-lg {
	    margin-right: 3px;
}

#playlistbutton{
	background-color : transparent;
}

/* 이미지 스타일링 */
.col-lg-3 img {
	width: 100%; /* 이미지가 컨테이너의 100% 크기를 차지하도록 설정 */
	height: auto; /* 이미지의 원본 비율을 유지 */
}

image-grid img{
	width: 100%;
	border-radius: 0px;
}

/* 내용 영역 스타일링 */
.col-lg-9 {
	display: flex;
	flex-direction: column; /* 내부 요소들을 세로로 정렬 */
	justify-content: center; /* 세로 방향 중앙 정렬 */
}

/* 이미지 사분할 */
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%; /* 원하는 크기로 설정 */
  aspect-ratio: 1 / 1; /* 정사각형 비율 유지 */
  overflow: hidden;
  border-radius: 23px;
}	

.item{
	display: none;
}

.item h4{
	margin-top: 20px;
}

html {
	scroll-behavior: smooth;
}


/* *** 나의 playlist 지금 듣기 *** */
.row .col-lg-3 .item {
    position: relative; /* 상대위치 */
}

.row .col-lg-3 .item .image-grid {
    position: relative;
    overflow: hidden;
}

.row .col-lg-3 .item .hover-effect2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* image-grid 요소에 마우스를 올릴 때 .hover-effect2 요소가 보이도록 */
.row .col-lg-3 .item .image-grid:hover .hover-effect2 {
    opacity: 1;
    visibility: visible;
}

.row .col-lg-3 .item .hover-effect2 h6 {
    background-color: rgba(31, 33, 34, 0.95);
    display: inline-block;
    color: #ec6090;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 25px;
}





/* 차트영역 프리로더 */

.preloader-inner2 {
	position: relative;
	width: 142px;
	height: 40px;
	background: transparent;
}

.preloader-inner2 .dot2 {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 12px;
	left: 15px;
	background: #e75e8d;
	border-radius: 50%;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-animation: dot 2.8s infinite;
	animation: dot 2.8s infinite;
}

.preloader-inner2 .dots2 {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	margin-top: 12px;
	margin-left: 31px;
	-webkit-animation: dots 2.8s infinite;
	animation: dots 2.8s infinite;
}

.preloader-inner2 .dots2 span {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin-left: 16px;
	background: #e75e8d;
	border-radius: 50%;
}

.js-preloader2 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경으로 변경 */
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	opacity: 1;
	visibility: visible;
	z-index: 999;
	-webkit-transition: opacity 0.25s ease;
	transition: opacity 0.5s ease;
	border-radius:23px;
}

.js-preloader2.loaded {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

@-webkit-keyframes dot2 { 50% {
	-webkit-transform: translateX(96px);
	transform: translateX(96px);
}
}
@keyframes dot2 { 50% {
	-webkit-transform: translateX(96px);
	transform: translateX(96px);
}
}
@-webkit-keyframes dots2 { 50% {
	-webkit-transform: translateX(-31px);
	transform: translateX(-31px);
}
}
@keyframes dots2 { 50% {
	-webkit-transform: translateX(-31px);
	transform: translateX(-31px);
}
}