/* 
** 선호도조사 css
*/
body {
	font-family: 'Poppins', sans-serif;
}

/* *** checkbox *** */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

/* body {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f8f8f9;
}
 */
.three {
	font-size: 1rem;
	font-weight: 400;
	color: #666;
	text-align: center;
	line-height: 1.125;
	margin-bottom: 1.25rem;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    max-width: 500px;
    user-select: none;
}

.checkbox-group > * {
    margin: 0.5rem;
}

.checkbox-group-legend, .checkbox-group-subtext {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ec6090;
    text-align: center;
    line-height: 1.125;
}

.checkbox-group-subtext {
    font-size: 1rem;
    font-weight: 400;
    color: #555;
    margin-top: 0.5rem;
}

.checkbox-wrapper {
    display: inline-block;
}

.checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7rem;
    min-height: 7rem;
    border-radius: 0.5rem;
    border: 2px solid #ec6090;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    transition: all 200ms ease-in-out;
}

.checkbox-input {
    display: none;
}

.checkbox-input:checked + .checkbox-tile {
    border-color: #ec6090;
}

.checkbox-icon {
    margin-right: 10px;
}

.btn-outline-primary {
    --bs-btn-color: #0d6efd;
    --bs-btn-border-color: #ec6090;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ec6090;
    --bs-btn-hover-border-color: #ec6090;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ec6090;
    --bs-btn-active-border-color: #ec6090;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
}

.checkbox-label {
    font-size: 17px;
    color: #27292a;
    transition: all 200ms ease-in-out;
}

.checkbox-label:hover {
    font-size: 17px;
    color: #fff;
    transition: all 200ms ease-in-out;
}

.checkbox-input:checked + .checkbox-tile .checkbox-label {
    color: #fff;
}

/* 마우스를 올렸을 때 */
/* .checkbox-tile:hover .checkbox-label {
    color: #fff;
} */

 /* 체크박스가 체크되었을 때 */
/* .checkbox-input:checked + .checkbox-tile .checkbox-label {
    color: #fff;
}  */


/* ----- 가입 완료 Button Styles ----- */
.btn-primary{
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 40px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #ec6090;
  background: #fff;
  color: #ec6090;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
  margin-top: 5px;
}

.btn-primary:hover{
  background: #ec6090;
  color: #fff;
}

.btn-primary span{
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}

.successbtn{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}

.successbtn svg{
  width: 20px;
  height: 20px;
  fill: #ec6090;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all .35s;
}

.btn-primary .is_active{
  width: 40px;
  height: 40px;
}

.btn-primary .is_active .successbtn{
  opacity: 1;
  visibility: visible;
}

.btn-primary .is_active .successbtn svg{
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}

.btn-primary .is_active span{
  opacity: 0;
  visibility: hidden;
}

.btn-primary {
	--bs-btn-hover-border-color: transparent;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #ec6090;
	--bs-btn-active-border-color: #ec6090;
}