/* 
** 선호도조사 css
*/
body {
	font-family: 'Poppins', sans-serif;
}

/* *** checkbox *** */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

/* body {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f8f8f9;
}
 */
.three {
	font-size: 1rem;
	font-weight: 400;
	color: #666;
	text-align: center;
	line-height: 1.125;
	margin-bottom: 1.25rem;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    user-select: none;
}

.checkbox-group > * {
    margin: 0.5rem 0.5rem;
}

.checkbox-group-legend {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ec6090;
    text-align: center;
    line-height: 1.125;
}

.checkbox-input {
    /* Code to hide the input */
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox-input:checked + .checkbox-tile {
    border-color: #ec6090;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #ec6090;
}

.checkbox-input:checked + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #ec6090;
    border-color: #ec6090;
}

.checkbox-input:checked + .checkbox-tile .checkbox-icon,
.checkbox-input:checked + .checkbox-tile .checkbox-label {
    color: #ccc;
}

.checkbox-input:focus + .checkbox-tile {
    border-color: #ec6090;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #ec6090;
}

.checkbox-input:focus + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
}

.checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7rem;
    min-height: 7rem;
    border-radius: 0.5rem;
    border: 2px solid #ccc;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.checkbox-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.checkbox-tile:hover {
    border-color: #ec6090;
}

.checkbox-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

/* .checkbox-icon {
    transition: 0.375s ease;
    color: #494949;
} */

.checkbox-icon svg {
    width: 3rem;
    height: 3rem;
}

.checkbox-label {
    color: #27292a;
    transition: 0.375s ease;
    text-align: center;
    font-weight: 600;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #ec6090;
    background-color: #fff;
    border-color: #ec6090;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #ec6090; */
}

/* btn active 상태일 때  */
.btn.btn-outline-primary.active {
    border-color: #ec6090;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #ec6090;
}

.btn.btn-outline-primary.active::before {
    transform: scale(1);
    opacity: 1;
    background-color: #ec6090;
    border-color: #ec6090;
}

.btn.btn-outline-primary.active .checkbox-icon,
.btn.btn-outline-primary.active .checkbox-label {
    color: #ec6090;
}

.btn.btn-outline-primary:hover {
  background: #fff;
  --bs-btn-hover-border-color: tranparent;
}

.btn-outline-primary{
	border-color: #ccc;
	transition: background-color 0.3s, border-color 0.3s;
}
.btn-outline-primary:active{
	border-color: #ec6090;
}

.checkbox-input:checked + .checkbox-tile {
    border-width: 3px; /* 선택되었을 때 두꺼운 border */
}

.checkbox-input:focus + .checkbox-tile {
    border-width: 3px; /* 선택되었을 때 두꺼운 border */
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border-width: 3px; /* 선택되었을 때 두꺼운 border */
}


/* ----- 가입 완료 Button Styles ----- */
.btn-primary{
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 40px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #ec6090;
  background: #fff;
  color: #ec6090;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
}

.btn-primary:hover{
  background: #ec6090;
  color: #fff;
}

.btn-primary span{
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}

.success{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}

.successbtn svg{
  width: 20px;
  height: 20px;
  fill: yellowgreen;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all .35s;
}

.btn-primary .is_active{
  width: 40px;
  height: 40px;
}

.btn-primary .is_active .successbtn{
  opacity: 1;
  visibility: visible;
}

.btn-primary .is_active .successbtn svg{
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}

.btn-primary .is_active span{
  opacity: 0;
  visibility: hidden;
}

.btn-primary {
	--bs-btn-hover-border-color: transparent;
}
