/* 
** 선호도조사 css
*/
body {
	font-family: 'Poppins', sans-serif;
}

/* ----- 가입 완료 Button Styles ----- */
.btn-primary {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  text-decoration: none;
  width: 90px;
  height: 56px;
  background: #ec6090;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0;
  border-radius: 75px;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.565, -0.070, 0.140, 1.135);
  transition-timing-function: cubic-bezier(0.565, -0.070, 0.140, 1.135);
  margin: 0 auto;
}
.btn-primary span {
  color: transparent;
  transition: all 100ms cubic-bezier(0.565, -0.070, 0.140, 1.135);
  transition-timing-function: cubic-bezier(0.565, -0.070, 0.140, 1.135);
}
.btn-primary:before {
  content:'';
  position: absolute;
  width: 3px;
  height: 16px;
  background: #fff;
  transform: rotate(-50deg);
  top: 25px;
  transition: all 500ms cubic-bezier(0.565, -0.070, 0.140, 1.135);
  transition-timing-function: cubic-bezier(0.565, -0.070, 0.140, 1.135);
}
.btn-primary:after {
  content:'';
  position: absolute;
  width: 3px;
  height: 16px;
  background: #fff;
  transform: rotate(50deg);
  bottom: 25px;
  transition: all 500ms cubic-bezier(0.565, -0.070, 0.140, 1.135);
  transition-timing-function: cubic-bezier(0.565, -0.070, 0.140, 1.135);
}

/*--Button Hover Styles--*/
.btn-primary:hover {
  width: 225px;
  background: #ec6090;
  transition: all 500ms cubic-bezier(0.565, -0.070, 0.140, 1.135);
  transition-timing-function: cubic-bezier(0.565, -0.070, 0.140, 1.135);
}
.btn-primary:hover span {
  color: #fff;
  margin-left: -20px;
  transition: all 500ms cubic-bezier(0.565, -0.070, 0.140, 1.135);
  transition-timing-function: cubic-bezier(0.565, -0.070, 0.140, 1.135);
}
.btn-primary:hover:before, .btn-primary:hover:after {
  right: 45px;
  background: #fff;
  transition: all 500ms cubic-bezier(0.565, -0.070, 0.140, 1.135);
  transition-timing-function: cubic-bezier(0.565, -0.070, 0.140, 1.135);
}

/*--Button Active Styles--*/
.btn-primary:active, .btn-primary:focus  {
  width: 90px;
  background: #ec6090;
  outline: none;
  transition: all 500ms cubic-bezier(0.565, -0.070, 0.140, 1.135);
  transition-timing-function: cubic-bezier(0.565, -0.070, 0.140, 1.135);
}

.btn-primary:active span, .btn-primary:focus span {
  color: transparent;
}

/* 오른쪽 */
.btn-primary:active:before, .btn-primary:focus:before {
  top: 45%; /* 수직 가운데 정렬 */
  height: 25px;
  width: 3px; /* 요소 너비 설정 */
  background: #fff;
  border: 1px solid #fff;
  content: '';
  position: absolute;
  right: 50%; /* 수평 가운데 정렬 */
  transform-origin: bottom right; /* 회전 중심 설정 */
  transform: translate(50%, -50%) rotate(45deg); /* 위치 및 회전 조정 */
}

/* 왼쪽 */
.btn-primary:active:after, .btn-primary:focus:after {
  top: 52%; /* 수직 가운데 정렬 */
  height: 13px; /* 높이 일치 */
  width: 3px; /* 요소 너비 설정 */
  background: #fff;
  border: 1px solid #fff;
  content: '';
  position: absolute;
  left: 50%; /* 수평 가운데 정렬 */
  transform-origin: bottom left; /* 회전 중심 설정 */
  transform: translate(-50%, -50%) rotate(-45deg); /* 위치 및 회전 조정 */
}


/* *** checkbox *** */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

/* *,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f8f8f9;
} */
form{
	font-family: 'Poppins', sans-serif;
}

.checkbox-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	user-select: none;
}

.checkbox-group > * {
	margin: 0.5rem 0.5rem;
}

.h4survey{
	color: #fff;
    font-size: 34px;
    text-decoration: none;
}

.checkbox-group-legend {
	font-size: 1.5rem;
	font-weight: 700;
	color: #ec6090;
	text-align: center;
	line-height: 1.125;
	/* margin-bottom: 1.25rem; */
}

.three {
	font-size: 1rem;
	font-weight: 400;
	color: #666;
	text-align: center;
	line-height: 1.125;
	margin-bottom: 1.25rem;
}

.checkbox-input {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.checkbox-input:checked + .checkbox-tile {
	border-color: #ec6090;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	color: #ec6090;
}

.checkbox-input:checked + .checkbox-tile:before {
	transform: scale(1);
	opacity: 1;
	background-color: #ec6090;
	border-color: #ec6090;
}

.checkbox-input:checked + .checkbox-tile .checkbox-icon,
.checkbox-input:checked + .checkbox-tile .checkbox-label {
	color: #ec6090;
}

.checkbox-input:focus + .checkbox-tile {
	border-color: #ec6090;
	/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc; */
}

.checkbox-input:focus + .checkbox-tile:before {
	transform: scale(1);
	opacity: 1;
}

.checkbox-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 7rem;
	min-height: 7rem;
	border-radius: 0.5rem;
	/* border: 2px solid #b5bfd9; */
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	transition: 0.15s ease;
	cursor: pointer;
	position: relative;
}

.checkbox-tile:before {
	content: "";
	position: absolute;
	display: block;
	width: 1.25rem;
	height: 1.25rem;
	/* border: 2px solid #b5bfd9; */
	background-color: #fff;
	border-radius: 50%;
	top: 0.25rem;
	left: 0.25rem;
	opacity: 0;
	transform: scale(0);
	transition: 0.25s ease;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.checkbox-tile:hover {
	border-color: transparent;
}

.checkbox-tile:hover:before {
	transform: scale(1);
	opacity: 1;
}

.checkbox-icon {
	transition: 0.375s ease;
	color: #494949;
}

.checkbox-icon svg {
	width: 3rem;
	height: 3rem;
}

.checkbox-label {
	color: #27292a;
	transition: 0.375s ease;
	text-align: center;
	font-size: 20px;
}

