hr {
	background: pink;
	height: 1px;
	border: 0;
}


html {
	scroll-behavior: smooth;
}

#songLyrics {
    background-color: #27292a;
    border-radius: 23px;
    padding: 30px;
    margin-top: 30px;
    color:#666;
}

.songAlbumCov{
	border-radius: 23px;
	width: 329px;
	height: 329px;
}